<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
jQuery(document).ready(function(){
    jQuery.ajax({
        type: "GET",
            url: '/note/'+jQuery("#nid").text(),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function(response) {
                jQuery("#title").text(response.title);
                jQuery("#note").val(response.note);
            }
    });
    jQuery("button").click(function(){
        jQuery.ajax({
            type: "PUT",
            url: '/note/'+jQuery("#nid").text(),
            data:  JSON.stringify({"note": $("#note").val(), "token": $("#token").text()}),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) { stop_countdown(); alert(response.msg); },
            error: function (xhr, textStatus) { stop_countdown(); alert(textStatus); }
        });
    });
    var stop_countdown = function(){
        clearInterval(countdown);
        jQuery("#countdown").text("Please open this page again to edit.");
    }
    var countdown = setInterval(function(){
        var count = jQuery("#countdown").text() - 1
        jQuery("#countdown").text(count)
        if(count == 0) stop_countdown();
    }, 1000);
});
</script>
</head>

<body>
<var id="nid" hidden>{{ nid }}</var>
<var id="token" hidden>{{ token }}</var>
<div id="title"></div>
<br/>
<textarea id="note" rows="5" cols="50"></textarea>
<br/>
countdown: <div id="countdown">60</div>
<button>Save</button>

<div id="nav">
    <a href="/view">go to View</a>
</div>

</body>
</html>